
<div class="card mt-3 mb-5">
  <div class="card-header">
    All Users
  </div>
  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <a href="/users/<%= user.id %>"><%= user.username %></a>
      </li>
    <% end %>
  </ul>
</div>

