<div class="col-md-8 offset-md-2">
  <div class="jumbotron">
    <h3>
      <%= @user.username %>
    </h3>
  </div>
  <% @photos.each do |photo| %>
  <div class="card">
    <div class="card-body">
      <img src="<%= photo.image %>" class="img-fluid">
      <%= photo.caption %>
    </div>
  </div>
  <% end %>
</div>